.sdi
{
    margin: 20px;
    height: 100px;
    width: 100px;
}
.sd{
    background-color: #9f56e0;
    text-align: center;
    height: 350px;
    width: 280px;
    text-align: center;
    border-radius: 10px;
    border:1px rgb(160, 233, 182);
    margin: 90px;
    padding: 10px;
}
.sub
{
    background-color: rgb(82, 219, 84);
    height: 30px;
    width: 60px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: medium;
    border: 0px;
}
.rollname{
    height: 30px;
    width: 200px;
    margin: 10px;
    font-size: medium;
}
.imain
{
    background-image: url("https://as2.ftcdn.net/v2/jpg/10/20/23/15/1000_F_1020231551_4TvExbe523dBeZSBIFxbkqsLHYi98w1x.jpg");
    height: 100vh;
    background-size: cover;
}